
<div class="col-6 col-md-3 my-3 p-3 rounded-3  text-center <%- bg %> <%- shadow %>">
    <img src=<%- img %> alt="" class="card-img w-50 m-auto"></img>
        <h3 class="card-title my-2"><%- title  %></h3>
        <button class="btn <%- btn %> mt-2">Buy</button>
    
</div>

<!-- <div class="card col-6 col-md-3 my-3 p-3 shadow text-center bg-primary">
    <img class="w-50" src="./media/coffee-bag.png" alt="">
    <div class="card-body">
        <p class="my-2">Black coffee blend</p>
        <button class="btn btn-primary text-uppercase">Buy</button>
    </div>
</div> -->