<header>
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Officia, nobis sint iste illum eligendi vero?</h1>
</header>
<main>
    
    <div class="h-100 w-100 d-flex align-items-center justify-content-center">
        <!-- here will be rendered the map -->
        <div id="googleMap" class="h-75 col-10 col-md-8 p-0"></div>    
    </div>

    <!-- array of branches to be displayed when their location is selected in the map -->
    <div id="sucursales">
        <%  for(let i = 0; i < branches.length; i++){ %>

            <div class="d-flex align-items-center bg-primary h-100 w-100 px-5 d-none">
                <img class="col-6 h-50 rounded-3" src=<%- branches[i].img %> alt="">
                <div class="col-6 text-center p-5">
                    <h2 class="fw-bold"><%- branches[i].name %></h2>
                    <p><span class="fw-bold">Direction:</span><%- branches[i].dir %></p>
                    <p><span class="fw-bold">Description:</span><%- branches[i].desc %></p>
                </div>
            </div>

        <% } %>
    </div>
    <script>
        const branches = JSON.parse('<%- JSON.stringify(branches) %>');
        console.log(branches);
    </script>
    <script src="../javaScript/google-maps.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDELnM1WTLTY8P_W1h2HkqS7u47gFAKHgc&callback=initMap"></script>
</main>